h1 {
  text-align: center;
}
/* .wrapper {
  max-width: 1200px;
  padding: 0 16px;
  margin: auto;
} */
.navbar {
  padding: 20px;
  margin-bottom: 20px;
  background: #f4b606;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.navbar .create {
  color: #ffffff;
  font-size: 1.5rem;
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 2rem;
}
.navbar-brand:hover,
.create:hover {
  color: #ffffff;
}

.form-container {
  width: 400px;
  margin: 20px auto;
}
.note-container {
  text-align: center;
  margin-top: 20px;
}

.notes-container .card a {
  color: #000000 !important;
}
.notes-container .card .header a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
.notes-container .card .content.preview a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
} */
